md-sidenav {
  height: 100%;
  max-width: 270px;
  min-width: 74px;
  position: static; }
  md-sidenav svg {
    fill: currentColor !important; }
  md-sidenav md-list md-list-item {
    opacity: 0.7; }
    md-sidenav md-list md-list-item.active {
      opacity: 1;
      background-color: rgba(158, 158, 158, 0.2);
      border-left: 5px solid grey; }
    md-sidenav md-list md-list-item .md-button {
      width: 100% !important;
      text-align: left !important; }
      md-sidenav md-list md-list-item .md-button span {
        margin-left: 15px; }
